:root {
 /* basic colors */
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-grey: #3D546F;
  --basic-greylight: #C5C5C5;
  --basic-background: #F1F5F7;
  --basic-white: #ffffff;
  --basic-black: #000000;
  --special-yellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;
  --special-darkgreen: #518534;
  --success: #5FBB2D;
  --warning: #FFBF47;
  --active: #CA2C37;
  --error: #BA2732;

 /* header colors */
  --special-darkblue: #32425C;
  --special-darkestblue: #293449;
  --special-onclickblue: #161D29;
  --header-grey: #B7BFC8;
  --header-lightgrey: #F3F7F9;
  --active-darkblue: #1D2739;
  --logo-shadow: rgba(0, 0, 0, 0.24);

  /* main services colors */
  --special-deepyellow: #FFC047;
  --clear-white: rgba(255, 255, 255, 0.3);
  --clear-greylight: rgba(197, 197, 197, 0.3);
  --clear-grey: rgba(169, 169, 169, 0.3);
  --roulet-background: rgba(0, 0, 0, 0.25);

  /* items colors */
  --special-lightgrey: #EAEAEA;
  --special-grey: #A9A9A9;
  --special-lightestgrey: #F9F5F0;
  --buy-button-shadow: #367315;

  /* special services */
  --special-peach: #FF5357;
  --add-service-shadow: #405069;

  /* footer */
  --social-blue: #212A3A;
  --special-gold: #FFD180;
  --special-lightgold: #FFDA96;
  --modal-grey: #f4f4f4;
  --modal-lightgrey: #f1f1f1;

  /* catalog */
  --catalog-grey: #F2F6F8;
  --catalog-lightgrey: #E5E5E5;
  --catalog-forms-background: #f7f3ec;
}

.page {
  height: 100%;
}

body {
  min-width: 940px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-white);
}

.page-body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.page a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  margin: 0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
  overflow: hidden;
}

/* Main header*/

header {
  background-color: var(--header-lightgrey);
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.service-navigation {
  min-height: 42px;
  font-size: 18px;
  color: var(--basic-white);
  background-color: var(--special-darkestblue);
}

.service-navigation-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.main-header-logo {
  margin-bottom: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  min-height: 47px;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px var(--logo-shadow);
}

.main-header-logo-link {
  text-decoration: none;
}

.searchfield-wrapper {
  min-height: 42px;
  width: 271px;
  display: flex;
}

.service-navigation input {
  color: var(--basic-white);
  background-color: var(--special-darkestblue);
}

.searchfield {
  align-self: center;
  padding: 0;
  padding-left: 42px;
  margin: 0;
  width: 271px;
  border: none;
  min-height: 42px;
}

.searchfield::placeholder {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  color: var(--basic-white);
}

.searchfield-wrapper::before {
  margin-left: 17px;
  content: "";
  align-self: center;
  position: absolute;
  width: 17px;
  height: 17px;
  background-image: url(../img/icon-search.svg);
}

.success-button {
  background-color: var(--basic-green);
}

.success-button:hover,
.success-button:focus {
  background-color: var(--success);
}

.service-navlist {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.service-navlist a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--basic-white);
  width: 150px;
  min-height: 42px;
}

.service-navlist a:active:not(.success-button) {
  background-color: var(--special-onclickblue);
  color: rgba(255, 255, 255, 0.5);
}

.success-button:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: var(--basic-green);
}

.main-header-middle-wrapper {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
}

.header-info {
  width: 197px;
  margin: 0;
  white-space: pre-line;
  font-style: italic;
  font-size: 16;
  line-height: 23px;
  color: var(--basic-red);
}

.header-contacts {
  width: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.header-phone {
  padding: 4px 42px 5px 71px;
  text-decoration: none;
  font-weight: bold;
  line-height: 30px;
  font-size: 21px;
  color: var(--basic-red);
  background-color: var(--header-lightgrey);
  border: 3px solid;
  border-color: var(--basic-white);
  box-sizing: border-box;
}

.header-adress {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  color: var(--special-darkblue);
}

.login-registration-wrapper {
  margin-top: 46px;
  margin-bottom: 67px;
  width: 281px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.login-link,
.registration-link {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.login-link {
  padding: 12px;
  padding-left: 45px;
  padding-right: 27px;
}

.registration-link {
  padding: 12px 24px;
  margin-left: 10px;
}

.login-link:hover,
.login-link:focus,
.registration-link:hover,
.registration-link:focus {
  color: var(--basic-red);
}

.login-link:active,
.registration-link:active {
  color: var(--basic-greylight);
}

.main-navigation {
  width: 940px;
  min-height: 60px;
  font-size: 18px;
  line-height: 24px;
  background-color: var(--special-darkblue);
  box-shadow: inset 0px -5px 0px var(--special-darkestblue);
  margin-bottom: 60px;
}

.site-navigation {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.site-navigation li {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px;
}

.site-navigation li:first-child {
  margin-left: 25px;
}

.site-navigation li:last-child {
  margin-right: 23px;
}

.site-navigation a {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px;
  flex-grow: 1;
  color: var(--basic-white);
  text-decoration: none;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: var(--special-darkestblue);
}

.site-navigation a:active {
background-color: var(--active-darkblue);
opacity: 0.5;
}

/* MAIN. Main company services*/

.main-services {
  margin: 59px 0;
}

.services-list {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: auto auto auto;
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.services-item {
  min-height: 123px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.services-list h3 {
  margin: 0;
  margin-top: 20px;
  margin-left: 23px;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  text-transform: none;
}

.services-list a:not(.button) {
  width: 135px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 21px;
  margin-left: 23px;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--clear-white);
  text-transform: uppercase;
}

.services-list a:hover:not(.button),
.services-list a:focus:not(.button) {
  background-color: var(--clear-greylight);
}

.services-list a:active:not(.button) {
  background-color: var(--clear-grey);
}

.matirials {
  background-color: var(--warning);
  background-image: url(../img/icon-matirials.svg);
  background-repeat: no-repeat;
  background-position: 213px 31px;
}

.tools {
  background-color: var(--special-blue);
  background-image: url(../img/icon-tools.svg);
  background-repeat: no-repeat;
  background-position: 194px 34px;
}

.vehicle {
  background-color: var(--special-lilac);
  background-image: url(../img/icon-vehicle.svg);
  background-repeat: no-repeat;
  background-position: 191px 31px;
}

.discount {
  background-color: var(--special-greenlight);
  background-image: url(../img/icon-discount.svg);
  background-repeat: no-repeat;
  background-position: 196px 26px;
}

.delivery {
  background-color: var(--special-deepyellow);
  background-image: url(../img/icon-delivery.svg);
  background-repeat: no-repeat;
  background-position: 191px 32px;
}

.puncher {
  grid-row: 2/4;
  grid-column: 1/3;
  background-image: url("../img/pouncher-slider.jpg");
}

.puncher-back {
  width: 620px;
  min-height: 104px;
  background-color: var(--roulet-background);
}

.puncher p {
  margin: 0;
  margin-top: 5px;
  margin-left: 24px;
  margin-bottom: auto;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
}

.puncher h3 {
  margin-top: 23px;
  margin-left: 24px;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.puncher a {
  width: 192px;
  padding-top: 11px;
  padding-bottom: 9px;
  margin-left: 24px;
  margin-bottom: 27px;
  text-align: center;
}

/* Buttons */

.button {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--basic-red);
}

.button:hover,
.button:focus {
  background-color: var(--active);
}

.button:active {
  background-color: var(--error);
}

/* Headers of site's blocks */

.block-header {
  min-height: 89px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--special-lightestgrey);
}

.block-header h2 {
  margin-left: 28px;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  color: var(--special-darkblue);
  text-transform: uppercase;
}

.block-header a {
  padding-top: 11px;
  padding-bottom: 9px;
  margin-right: 14px;
  width: 192px;
  text-align: center;
}

.popular-brands-header a {
  margin-right: 19px;
}

/* Popular items */

.popular-items {
  margin-bottom: 70px;
}

.popular-items-list {
  list-style: none;
  margin-top: 20px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
}

.shop-item {
  width: 220px;
  border: 1px solid var(--special-lightgrey);
  box-sizing: border-box;
}

.shop-item h3 {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  color: var(--basic-black);
}

.old-price {
  font-size: 17px;
  line-height: 18px;
  text-decoration-line: line-through;
  text-transform: uppercase;
  color: var(--special-grey);
}

.new-price {
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.buy-button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-green);
  box-shadow: inset 0px -3px 0px var(--buy-button-shadow);
}

.buy-button:hover,
.buy-button:focus {
  background-color: var(--success);
}

.buy-button:active {
  background-color: var(--special-darkgreen);
}

.basket-button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--special-darkblue);
  border: 3px solid var(--basic-green);
  border-radius: 2px
}

.basket-button:hover,
.basket-button:focus {
  border-color: var(--special-darkblue);
}

.basket-button:active {
  opacity: 0.5;
}

/* Popular brands */

.popular-brands {
  margin-bottom: 70px;
}

.brands-list {
  list-style: none;
  margin-top: 20px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
}

.brand-card {
  min-height: 145px;
  width: 220px;
  border: 1px solid;
  border-color: var(--special-lightgrey);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-card a {
  min-height: 145px;
  width: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Additional services */

.additional-services {
  min-height: 522px;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
  margin-bottom: 70px;
  background-color: var(--basic-background);
}

.additional-services-wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
  "services-header services-header"
  "services-list service-discription";
}

.additional-services-header {
  margin-top: 64px;
  grid-area: services-header;
}

.additional-services p {
  padding: 0;
  margin: 0;
  margin-top: 25px;
  font-family: "PT Sans", Arial, sans-serif;
  white-space: pre-line;
}

.additional-services h2,h3 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.add-services-list {
  grid-area: services-list;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.add-service-item {
  width: 240px;
  min-height: 61px;
  padding: 0;
  margin: 0;
}

.add-service-item:not(:last-child) {
  margin-bottom: 1px;
}

.add-service-item a {
  display: flex;
  width: 240px;
  min-height: 61px;
  justify-content: flex-start;
  align-items: center;
  padding-left: 22px;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-white);
  font-weight: bold;
  background-color: var(--special-darkblue);
  box-sizing: border-box;
  box-shadow: 0px 1px 0px var(--special-darkestblue),
  inset 0px 1px 0px var(--add-service-shadow);
}

.add-service-item a:hover,
.add-service-item a:focus {
  background-color: var(--special-darkestblue);
}

.active-service-button a {
  pointer-events: none;
  background-color: var(--basic-white);
  color: var(--special-darkblue);
  box-shadow: 0px 1px 0px var(--basic-white);
}

.services-discription-list {
  grid-area: service-discription;
  list-style: none;
  padding: 0;
  margin: 0;
}

.services-discription-list li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.services-discription-list h3 {
  margin: 0;
  padding: 0;
  color: var(--special-darkblue);
}

.services-discription-list p {
  margin: 0;
  padding: 0;
}

.delivery-discription {
  min-height: 283px;
  margin-left: 80px;
  background-image: url(../img/Delivery.png);
  background-repeat: no-repeat;
  background-position: 150px 89px;
}

.delivery-discription h3 {
  margin-top: 67px;
}

.delivery-discription p {
  margin-top: 30px;
}

.guaranty-discription {
  min-height: 283px;
  margin-left: 80px;
  background-image: url(../img/Guaranty.png);
  background-repeat: no-repeat;
  background-position: 239px 66px;
}

.guaranty-discription h3 {
  margin-top: 67.5px;
}

.guaranty-discription p {
  margin-top: 24.5px;
}

.credit-discription {
  min-height: 285px;
  margin-left: 80px;
  background-image: url(../img/Credit.png);
  background-repeat: no-repeat;
  background-position: 165px 67px;
}

.credit-discription h3 {
  margin-top: 67.5px;
}

.credit-discription p {
  margin-top: 27px;
}

.credit-discription a {
  width: 195px;
  margin: 0px;
  margin-top: 26px;
  padding: 10px 0;
  text-align: center;
  border-radius: 2px;
}

/* About company, delivery companies, contacts */

.about-company-and-contacts {
  color: var(--basic-black);
  margin-bottom: 70px;
}

.about-company-and-contacts-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.about-company-and-contacts h2 {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.about-company-and-contacts p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.about-company {
  min-height: 356px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.about-company p {
  margin: 0;
  margin-top: 24px;
  padding: 0;
  white-space: pre-line;
}

.delivery-companies {
  padding: 0;
  margin: 0;
  margin-top: 1px;
  font-size: 18px;
  line-height: 24px;
  list-style: none;
}

.delivery-companies li {
}

.delivery-companies li:before{
  content: "";
  padding-right: 37px;
  width: 25px;
  height: 2px;
  background-image: url(../img/list-style-delivey.svg);
  background-repeat: no-repeat;
  background-position: 0 12px;
  }

.delivery-companies li:not(:last-child) {
 margin-bottom: 12px;
}

.about-company a {
  width: 220px;
  padding-top: 11px;
  padding-bottom: 9px;
  text-align: center;
  margin-top: auto;
}

.contacts-information {
  margin-left: 179px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-image: url(../img/Map.png);
  background-position: 0 135px;
  background-repeat: no-repeat;
}

.contacts-information p {
  margin-top: 24px;
  margin-bottom: auto;
  white-space: pre-line;
}

.contacts-information a {
  width: 300px;
  padding-top: 11px;
  padding-bottom: 9px;
  text-align: center;
}

/* Footer */

.main-footer {
  background-color: var(--special-darkblue);
}

.main-footer-navigation {
  font-size: 18px;
  line-height: 24px;
}

.main-footer-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}

.main-footer-logo {
  min-height: 68px;
  width: 220px;
  margin: 0;
  margin-right: 173px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px var(--logo-shadow);
}

.main-footer-logo-img {
  width: 138px;
  height: 23px;
}

.main-footer-logo-link {
  text-decoration: none;
}

.footer-navigation {
  margin-top: 37px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer-navigation ul {
  list-style: none;
}

.top-line {
  width: 549px;
  margin: 0;
  margin-right: -2px;
  margin-bottom: 34px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom-line {
  width: 525px;
  margin: 0;
  margin-left: auto;
  margin-right: -1px;
  margin-bottom: 74px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-line a {
  color: var(--header-lightgrey)
}

.bottom-line a {
  color: var(--special-lightgold);
}

.footer-navigation a:hover,
.footer-navigation a:focus {
  text-decoration: underline;
}

.footer-navigation a:active {
  mix-blend-mode: normal;
  opacity: 0.5;
}

.footer-contacts {
  margin-top: -102px;
  margin-bottom: 54px;
  margin-left: 3px;
}

.footer-adress {
  margin: 0;
  padding: 0;
  white-space: pre-wrap;
}

.footer-adress,
.footer-phone {
  color: var(--header-lightgrey)
}

.footer-bottom {
  background-color: var(--special-darkestblue);
}

.footer-bottom-container {
  padding: 35px 0;
}

.main-footer-bottom-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom p {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.footer-copyright {
  padding: 0;
  margin-top: 36px;
  margin-bottom: 34px;
  margin-left: 1px;
  margin-right: 161px;
  width: 227px;
  min-height: 37px;
}

.footer-social {
  width: 134px;
  margin: 0;
  margin-right: 118px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-social-item a{
  width: 44px;
  min-height: 44px;
  margin: 0;
  background-color: var(--social-blue);
  border-radius: 50%;
}

.footer-social a:hover,
.footer-social a:focus,
.footer-social a:active {
  background-color: var(--basic-red);
}

.feedback {
  margin-right: 51px;
  width: 137px;
}

.feedback p {
  margin: 0;
  padding: 0;
}

.developer {
  margin-right: 13px;
  width: 98px;
}

.developer p {
  margin: 0;
  padding: 0;
}

.feedback a,
.developer a{
  color: var(--special-lightgold);
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
}

.feedback a:hover,
.feedback a:focus,
.developer a:hover,
.developer a:focus {
  text-decoration: underline;
}

.feedback a:active,
.developer a:active {
  color: var(--basic-red);
  text-decoration: none;
}

/* Modals */

.modal div {
  background-color: var(--modal-grey);
}

.basket-modal p{
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-black);
}

.basket-modal-footer {
  background-color: var(--modal-lightgrey);
}

.basket-modal button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-white);
  border: none;
}

/* CATALOG.HTML */

.main-catalog-wrapper {
  margin-bottom: 59px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
  "nav nav"
  "name name"
  "filters sorting"
  "filters results"
  ". pages";
  column-gap: 20px;
}

.catalog-navigation {
  grid-area: nav;
  margin-top: 21px;
}

.catalog-navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.catalog-navigation a {
  text-decoration: none;
  color: var(--basic-black);
}

.catalog-navigation-item {
  margin: 0 40px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.catalog-navigation-item:first-child {
  margin-left: 0;
}

.catalog-header {
  margin: 20px 0;
  color: var(--special-darkblue);
  text-transform: uppercase;
  grid-area: name;
}

.catalog-section-name {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  padding: 29px;
  text-align: left;
  background-color: var(--catalog-grey);
}

.items-filter {
  grid-area: filters;
  background-color: var(--catalog-forms-background);
}

.items-sorting {
  grid-area: sorting;
  margin-bottom: 28px;
  background-color: var(--catalog-forms-background);
}

.catalog-results {
  grid-area: results;
  display: grid;
  grid-template-rows: 1fr auto;
}

.catalog-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
  row-gap: 18px;
  column-gap: 20px;
}

.pages-buttons {
  margin-top: 48px;
  grid-area: pages;
}

.pages-buttons-list {
  min-height: 38px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.page-button {
  margin-right: 10px;
}

.pages-buttons a {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  list-style: none;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 15px;
  border: 1px solid var(--catalog-lightgrey);
  border-radius: 2px;
  background-color: var(--basic-white);
}

.page-button .active-page-button {
  pointer-events: none;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.pages-buttons a:hover,
.pages-buttons a:focus {
  border-color: var(--basic-greylight);
}

.pages-buttons a:active {
  border-color: var(--basic-red);
}

.item-information {
  background-color: var(--catalog-grey);
  color: var(--basic-black);
}

.item-information-wrapper {
padding-top: 64px;
padding-bottom: 68px;
}

.item-information h2 {
  min-height: 30px;
  width: 338px;
  margin: 0;
  margin-bottom: 25px;
}

.item-information p {
  min-height: 74px;
  width: 907px;
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}
